.gambar1 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar2 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar3 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar4 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar5 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar6 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar7 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar8 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar9 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar10 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar11 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar12 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar13 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}.gambar1 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar14 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar15 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar16 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar17 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar18 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar19 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}
.gambar20 {
    background-image: url();
    background-size: cover;
    background-position: bottom center;
}

